<div class="row">
    <h1 class="primary-text">Dashboard</h1>
    <div class="col s6">
        <div class="card">
            <div class="card-content" data-rules>
                <span class="card-title primary-text">Rules</span>
                <p>Check your already configured rules.</p>
            </div>
            <div class="card-action">
                <a href="/dashboard/rules" class="primary-text">Configure</a>
            </div>
        </div>
    </div>
     <div class="col s6">
        <div class="card" data-harvested>
            <div class="card-content">
                <span class="card-title primary-text">Harvested Clicks</span>
                <p>Check unconfigured harvested clicks.</p>
            </div>
            <div class="card-action">
                <a href="/dashboard/harvested" class="primary-text">Configure</a>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title primary-text">Configuration and Setup</span>
                {{#if tid}}
                <div class="section">
                        <div class="input-field">
                            <input id="google-id" type="text" class="validate" value="{{tid}}">
                            <label for="google-id">UA TID</label>
                        </div>
                        <button id="update-tid" class="btn waves-effect waves-light" type="submit" name="action">
                            Save
                        </button>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <b>Snippet</b>
                    <p>Include the following snippet in your webpage:</p>
                    <input id="snippet" type="text" value='<script src="http://169.45.108.53:8000/{{id}}/snippet.min.js"></script>' disabled>
                    <p></p>
                </div>
                <div class="section">
                    <b>Rules Bookmarklet</b>
                    <p>Drag and drop the following link to your bookmarks tab. You may then click the bookmark while on your site to select links to feed to No Fuss Analytics. Go back to No Fuss Analytics and create the rule for the Harvested Click.</p>
                    <br>
                    <a href='javascript:!function(e,t){"use strict";function n(e,t){var n=new XMLHttpRequest;return"withCredentials"in n?n.open(e,t,!0):"undefined"!=typeof XDomainRequest?(n=new XDomainRequest,n.open(e,t)):n=null,n}function o(t){var o=n("POST",e,!0);o&&(o.setRequestHeader("Content-Type","application/json"),o.send(t?"string"==typeof t?t:JSON.stringify(t):void 0),o=null)}function r(e,t){o(t)}function i(){var e=localStorage.getItem(t);null!==e&&(o(e),localStorage.removeItem(t))}function a(e,t,n){var o,r;null===n?o="":(r=new Date,r.setTime(r.getTime()+60*n*1e3),o="expires="+r.toUTCString()),document.cookie=e+"="+t+"; "+o+"; path=/"}function l(e){var t,n,o=e+"=",r=document.cookie.split("; ");for(n=r.length-1;n>=0;n--)if(t=r[n],0===t.indexOf(o))return t.substring(o.length,t.length);return!1}function u(){return Math.floor(65536*(1+Math.random())).toString(16).substring(1)}function c(){return u()+u()+"-"+u()+"-"+u()+"-"+u()+"-"+u()+u()+u()}function s(e){for(var t,n=e.length,o={};n--;)t=e[n],o[t.name]=t.value;return o}function d(e){var t,n=window.getComputedStyle(e),o={};for(t=0;t<n.length;t++)o[n[t]]=n.getPropertyValue(n[t]);return o}function f(e){return null===e||"no__fuss__tracker"===e.id||"BODY"===e.nodeName?!1:e.onclick||"A"===e.nodeName||"BUTTON"===e.nodeName?e:f(e.parentElement)}function m(t,n,o){r(o,{url:e,method:"POST",body:{cid:n,nfa_id:y,url:location.href,bookmarklet:!0,payload:{target:t.outerHTML,clickableTarget:o.outerHTML,clickableLink:o.href,attrs:s(t.attributes),styles:d(t)}}}),alert("Element tracked, please visit No Fuss Analytics")}function _(){var e=document.getElementById("no__fuss__tracker");e&&(g(),e.parentNode.removeChild(e))}function g(){var e=document.getElementById("no__fuss__tracker");e&&e.no__fuss__target&&(e.no__fuss__target.style.backgroundColor=e.no__fuss__target.oldBg)}function p(){return function(e){var t=e.target,n=f(t);n&&(g(),t.oldBg=t.style.backgroundColor,t.style.backgroundColor="#EEDD00",v(t,n),t.onmouseleave=function(){_()})}}function v(e,t){if(!document.getElementById("no__fuss__tracker")){var n=document.createElement("div");n.id="no__fuss__tracker",n.style.fontFamily="Arial",n.style.fontSize="8pt",n.style.fontWeight="100",n.style.textAlign="center",n.style.width="150px",n.style.backgroundColor="#004d40",n.style.color="#eee",n.style.padding="2px",n.style.zIndex="9999",n.style.cursor="pointer",n.no__fuss__target=e;var o=document.createElement("div");o.appendChild(document.createTextNode("Track clicks on this element"));var r=document.createElement("div");r.appendChild(document.createTextNode("via No Fuss Analytics")),n.appendChild(o),n.appendChild(r),n.onclick=function(n){var o=l("nfa")||c();_(),m(e,o,t),n.preventDefault()},e.appendChild(n)}}var y;window.NFA={init:function(e){var t=l("nfa")||c();a("nfa",t),y=e,i(),document.onmouseover=p()}}}("//169.45.108.53:8000/click","nfa"),window.NFA.init("{{id}}");' class="btn waves-effect waves-light primary">Choose Links</a>
                    <p></p>
                </div>
                <div class="section">
                    <b>Bookmarklet Inject</b>
                    <p>Drag and drop the following link to your bookmarks tab. You may then click the bookmark while on any site to have clicks sent to your No Fuss Analytics account.</p>
                    <br>
                    <a href='javascript:var jsElm=document.createElement("script");jsElm.type="application/javascript",jsElm.src="http://169.45.108.53:8000/{{id}}/snippet.min.js",document.body.appendChild(jsElm);' class="btn waves-effect waves-light primary">Load No Fuss Analytics</a>
                    <p></p>
                </div>
                {{else}}
                    <div class="progress">
                      <div class="indeterminate"></div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
