<h1 class="primary-text">Harvested Clicks</h1>
<div class="row">
    {{#each clicks}}
    <div class="col s4">
        <div class="card" data-id="{{id}}" style="height:400px">
            <div class="card-content" style="height: 85%">
                <span class="card-title primary-text">{{highlight payload.attrs}}</span>
                <span class="badge" style="margin-top: 2%">Total: {{size-of events}}</span>
                <p>
                    <a href="#" class="preview">Preview Element</a>
                    <pre class="wrap hide">{{preview payload.target}}</pre>
                </p>
                <p class="badge" style="overflow-wrap: break-word;">From {{url}}</p>
            </div>
            <div class="card-action">
                <a href="/dashboard/harvested/{{id}}" class="primary-text">Configure</a>
                <a href="#" data-click-id="{{id}}" class="js-ignore-click primary-text">Ignore</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
