<h1 class="primary-text">Rules</h1>
<div class="row">
    {{#each rules as |rule|}}
    <div class="col s6">
        <div class="card" data-id="{{id}}">
            <div class="card-content">
                <span class="card-title primary-text activator">{{title}}</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
                <div class="section">
                    <strong>Location only enabled?</strong> {{#unless trigger.location_only}}No{{else}}{{trigger.location}}{{/unless}}
                </div>
                <div class="section">
                    <ul class="collection with-header">
                        <li class="collection-header"><strong>Trigger Rules ({{operator trigger}})</strong></li>
                        {{#each trigger.rules as |trigger|}}
                        <li class="collection-item"><strong>{{trigger.attribute}}</strong> {{trigger.operator}} {{trigger.value}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="section">
                    <ul class="collection with-header">
                        <li class="collection-header"><strong>Action taken {{event-type action}}</strong></li>
                        {{#actions rule.action.payload}}
                        <li class="collection-item"><strong>{{attribute}}</strong> {{type}} {{value}}</li>
                        {{/actions}}
                    </ul>
                </div>
            </div>
            <div class="card-action">
                <a href="/dashboard/rules/{{id}}" class="primary-text">Edit</a>
                <a href="#" class="primary-text" data-delete="{{id}}">Delete</a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card-panel">
        <div class="row center">
            <i class="medium material-icons">thumbs_up_down</i>
            <h5 style="padding: 1%">No rules yet !</h5>
        </div>
        <div class="divider"></div>
        <div class="section center">
            <a href="/dashboard/harvested" class="btn waves-effect waves-light">Check your harvested clicks<a>
            <a href="/dashboard" class="primary-text" style="margin-left: 5%">Back to Dashboard</a>
        </div>
    </div>
    {{/each}}
</div>
