<h1 class="primary-text">Success</h1>
<div class="row">
    <div class="card-panel">
    <div class="section">
        {{message}}
    </div>
    <div class="divider"></div>
    <div class="section">
        <a href="{{continue.url}}" class="btn waves-effect waves-light">{{continue.title}}</a>
        <a href="{{back.url}}" class="primary-text" style="margin-left: 3%">{{back.title}}</a>
    </div>
</div>
