<div class="row">
    {{#each clicks}}
    <div class="col s4">
        <div class="card" data-id="{{id}}">
            <div class="card-content">
                <span class="card-title primary-text activator">{{highlight payload.attrs}}</span>
                <span class="badge" style="margin-top: 2%">Total: {{size-of events}}</span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Preview<i class="material-icons right">close</i></span>
                <p class="badge" style="overflow-wrap: break-word;">From {{url}}</p>
                <pre class="wrap">{{preview payload.target}}</pre>
            </div>
            <div class="card-action">
                <a href="/dashboard/harvested/{{id}}" class="primary-text">Configure</a>
                <a href="#" class="primary-text">Ignore</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
